<!DOCTYPE html>
<html>
<head>
    <title>我的产品</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../css/canmaosongptai.css">
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/control.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>

</head>
<body class="bei">
<div class="sc_cg" >
<span ><i onclick="xioshi()" class="fa fa-times" ></i>  </span>
填写采购意向，
</div>

<div class="sc_cgd">
 <span>填写采购意向</span>
    <table >
        <tr>

            <td >物资大类 ：
                <div class="dropdown-list">
                    <div class="drop-list drop-list-min" >
                        <div class="checked" ><a href="javascript:void(0);">盖乐实</a><span></span></div>
                    </div>
                    <ul class="select select-min none" >
                        <li><a href="javascript:void(0);">货运</a></li>
                        <li><a href="javascript:void(0);">储运</a></li>
                        <li><a href="javascript:void(0);">订单</a></li>
                    </ul>
                </div>
            </td>
            <td >
                主要规格型号

            <input type="text" class="cmao_input" value="85522122*(2*10)"/>
            </td>
            <td >意向类型 ：
                <div class="dropdown-list">
                    <div class="drop-list drop-list-min" >
                        <div class="checked" ><a href="javascript:void(0);">2016年度</a><span></span></div>
                    </div>
                    <ul class="select select-min none" >
                        <li><a href="javascript:void(0);">货运</a></li>
                        <li><a href="javascript:void(0);">储运</a></li>
                        <li><a href="javascript:void(0);">订单</a></li>
                    </ul>
                </div>
            </td>


        </tr>
        <tr>

            <td >采购数量 ：
                <input type="text" class="cmao_input" value="85522122*(2*10)"/>
                <div class="dropdown-list">
                    <div class="drop-list drop-list-min" >
                        <div class="checked" ><a href="javascript:void(0);">吨</a><span></span></div>
                    </div>
                    <ul class="select select-min none" >
                        <li><a href="javascript:void(0);">货运</a></li>
                        <li><a href="javascript:void(0);">储运</a></li>
                        <li><a href="javascript:void(0);">订单</a></li>
                    </ul>
                </div>
            </td>
            <td >
                采购金额

                <input type="text" class="cmao_input" value="1000"/>万元
            </td>
            <td >物资来源 ：
                <div class="dropdown-list">
                    <div class="drop-list drop-list-min" >
                        <div class="checked" ><a href="javascript:void(0);">四川，达州</a><span></span></div>
                    </div>
                    <ul class="select select-min none" >
                        <li><a href="javascript:void(0);">货运</a></li>
                        <li><a href="javascript:void(0);">储运</a></li>
                        <li><a href="javascript:void(0);">订单</a></li>
                    </ul>
                </div>
            </td>


        </tr>
        <tr>
            <td >
                <button  class="btn btn_red btn-block" type="button" >保存</button>

            </td>
        </tr>
    </table>
</div>
<div>
    <table class="table1 mt10">
        <thead>
        <tr>

            <th >序号</th>
            <th >物资大类</th>
            <th >主要规格型号</th>
            <th >采购量</th>
            <th >单位</th>
            <th >采购金额（万元）</th>
            <th >意向类型</th>
            <th >发布时间</th>
            <th >物资来源地</th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>
            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
        <tbody>
        <tr>

            <td >1</td>
            <td>钢管</td>
            <td >jhdk——267788</td>
            <td>1500</td>
            <td >吨</td>
            <td ><span class="red">1500.00</span></td>
            <td >2016年度物资采购需求</td>
            <td >2016.1.30</td>
            <td >北京.重庆.武汉.合肥</td>

        </tr>

        </tbody>
    </table>
</div>
<div align="center" >
    <script src="../../../index_foot.js">

    </script>
</div>
<script>


    function xioshi() {
        $('.sc_cg').hide();
    }

    $("input").each(function(){
        $(this).focus(function(){
            if( $(this).val() == $(this).get(0).defaultValue ){
                $(this).val("");
            }
        });
        $(this).blur(function(){
            if( $(this).val() == "" ){
                $(this).val( $(this).get(0).defaultValue );
            }
        })
    });



</script>
</body>
</html>