@import url("bootstrap.min.css");
@import url("common.css");
iframe{
	-moz-border-radius-topleft:8px;
    border-top-left-radius: 8px;
}
.acc-main{
	float: left;
	width: 100%;
	min-width: 1380px;
	height: auto;
}
.acc-menu{
	float: left;
	width: 254px;
	height: 1110px;
	background-color: #32323A;
}
.acc-logo{
	width: 100%;
	height: 165px;
	background-color: #28282E;
}
.acc-logo img{
	width: 197px;
	height: 39px;
	margin-top: 30px;
}
.acc-logo span{
	float: left;
	width: 100%;
	color: #C3C3C4;
	text-align: center;
	font-size: 24px;
	margin-top: 17px;
}
.acc-per-info{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}
.acc-photo{
	width: 74px;
	height: 72px;
	line-height: 72px;
	background-color: white;
	border: 1px solid #C1C1C1;
	-moz-border-radius: 50%;      /* Gecko browsers */
    -webkit-border-radius: 50%;   /* Webkit browsers */
    border-radius:50%;            /* W3C syntax */
    position: relative;
    top:-30px;
}
.acc-per-info>span{
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 18px;
	color: #C8C8C9;
	margin-top: -10px;
}
.acc-icon{
	float: left;
	width: 100%;
	margin-top: 20px;
}
.acc-member-level{
	float: left;
	width:auto;
	height: auto;
	font-size: 12px;
	margin-top: 13px;
	margin-left: 20%;
}
.acc-member-level div{
	float: left;
	width: auto;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	color: #78787C;
	margin-right: 10px;
}
.acc-member-level img{
	float: left;
	width: 20px;
	height: 17px;
}
.acc-menu-div{
	float: left;
	width: 100%;
	height: auto;
}
.acc-menu-ul{
	width: auto;
	height: auto;
	margin-left: -40px;
	
}
.acc-menu-ul li{
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #BBBBBB;/
}
.acc-menu-ul li a{
	float: left;
	width: 100%;
	height: 100%;
	padding-left: 40px;
	color: #101010;
}
.acc-userli{
	margin-left: 40px;
}
.acc-select{
	background-color: #FFFFFF;
}
/*右侧模块*/
.acc-content{
	width: auto;
	min-height:200px;
	margin-left: 254px;
	background-color:#28282E ;	
	margin-bottom: 30px;
}
.acc-con-mid{
	float: left;
	width:100%;
	height: auto;
	background-color: #FFFFFF;
    -moz-border-radius-topleft:8px;
    border-top-left-radius: 8px;      
}
.acc-top{
	float: left;
	width: 100%;
	height: 66px;
	color: #FFFFFF;
	background-color: #28282E;
}
.acc-top-con{
	float: left;
	width: 100%;
}
.acc-top-left{
	width: auto;
	height: 100%;
	float: left;
	font-size: 16px;
	margin-left: -40px;
}
.acc-top-right{
	width: auto;
	height: 100%;
	float: left;
	font-size: 16px;
	margin-left: 15%;
}
.acc-top-left li{
	float: left;
	height: 66px;
	line-height: 66px;
}
.acc-dingwei{;
	width: 24px;
	height: 23px;
}

.acc-top-con img {
    float: left;
    margin: 23px 6px 0px 10px;
}
.icon-select{
	float: left;
	width: 15px;
	height: 12px;
	margin: 28px 0 0 10px;
	background-image: url(../image/select_icon.png);
}
.acc-level{
	color: #E66E1E;
}
.acc-exit{
	margin-left: 25px;
	color: #D11212;
}
.acc-exit:hover{
	color: #D11212;
	text-decoration: underline;
}
.acc-msg{
	float: left;
	color: #FFFFFF;
	margin-left:135px;
}
.acc-msg:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
.acc-msgicon{
	margin-left: 5px;
}
.acc-havemsg{
	float: left;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	top: 21px;
	left: -33px;
}
.acc-top-right li{
	float: left;
	height: 66px;
	line-height: 66px;
	margin-left: 8px;
}
.acc-top-right li a,.acc-top-right li span a{
	float: left;
	color: #FFFFFF;
}
.acc-top-right img{
	float: left;
	width: 14px;
	height: 22px;
	margin: 22px 5px 0 40px;
}
.acc-con-mid-ul{
	margin-left:-40px;
}
.tab-content{
	float: left;
	border: 1px solid #BBBBBB;
	width: 100%;
	min-height: 807px;
	height: auto;
}
/*底部版权*/
.acc-footer{
	float: left;
	width: 100%;
	height: 163px;
	background-color: #595959;
}
.acc-footer h1{
	height: 163px;
	line-height: 130px;
	color: white;
}
/*账户管理子页面---首页*/
.acc-index{
	width: 100%;
	padding-left: 70px;
	height: auto;
}
.acc-table-top{
	float: left;
	width: 385px;
	height: 165px;
	font-size: 12px;
	margin-top: 10px;
	border-bottom: 1px solid #DCDCDC;
}
.acc-table-top tr{
	height:80px;
	padding-bottom: 10px;
}
.acc-null{
	width: 100%;
	height: 17px;
}
.acc-basicinfo{
	float: left;
	width: 745px;
	height: 120px;
	font-size: 12px;
	padding-left: 10px;
	border-bottom: 1px solid #DCDCDC;
}
.acc-security-ser{
	float: left;
	width: 745px;
	height: 500px;
}
.acc-progress{
	float: left;
	width: 240px;
	height: 9px;
	margin: 5px 0 0 10px;
	border-radius: 0px;
}
.acc-progress-bar-7C7C7C{
	background-color: #7C7C7C;
}
.acc-table-safety{
	float: left;
	margin-left: 20px;
	width: 700px;
	height: 350px;
	font-size: 12px;
}
.acc-tr-bottom{
	border-bottom: 1px dashed #E2E2E2;
}
.acc-table-safety p{
	width: 100%;
}
.acc-table-safety div{
	width:100%;
	height: 70px;
	line-height: 25px;
	margin-top: 7px;
}
.acc-photodiv{
	float: left;
	font-size: 18px;
	margin-top: -40px;
}
/*账户管理子页面--账号信息*/
.acc-info{
	width: 100%;
	padding: 10px 0 10px 10px;
	height: auto;
    -moz-border-radius-topleft:8px;
    border-top-left-radius: 8px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 6px 25px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.acc-mes-p{
	float: right;
	margin-top: -20px;
	color: #999999;
}
.acc-basicinfo-table{
	float: left;
	width: 100%;
	height: auto;
	color: #1F1F1F;
	margin-top: 30px;
}
.acc-basicinfo-table tr{
	height: 50px;
	width: 100%;
}
.acc-basicinfo-table input[type="text"],.acc-basicinfo-table select{
	height: 38px;
	line-height: 38px;
}
.acc-savebtn{
	padding: 6px 22px;
	color: #FFFFFF;
	font-weight: 600;
	background-color: #808080;
	border: 1px solid #ADADAD;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.acc-cominfo-table{
	width: 500px;
	height: auto;
	color: #1F1F1F;
	margin: 30px 0 0 50px;
}
.acc-cominfo-table tr{
	height: 50px;
	width: 100%;
}
.acc-perphoto-table{
	width: 500px;
	height: auto;
	color: #1F1F1F;
	margin: 50px 0 0 150px;
}
.acc-photo-div{
	width: 132px;
	height: 131px;
	/*background: url(../image/acc-perphoto-bg.png) no-repeat;*/
}
.acc-file{
	float: left;
	width: 70px;
	height: 20px;
	cursor: pointer;
	filter:alpha(opacity=0);   
    -moz-opacity:0;   
    -khtml-opacity: 0;   
    opacity: 0; 
    cursor: pointer;  
}
.acc-upfile{
	position: relative;
	left: -65px;
	top: 0;
	color: #3C8AD8;
	cursor: pointer;
	font-weight: bold;
}
.acc-perinfo-p{
	padding: 20px 0 10px 0;
}
.acc-perinfo-table{
	width: 98%;
	height: auto;
	color: #1F1F1F;
	margin: 20px 10px 0 10px;
	background-color: #F2F2F2;
}
.acc-perinfo-table tr{
	height: 60px;
}
.acc-perinfoadd-table{
	float: left;
	width: 98%;
	height: auto;
	color: #1F1F1F;
	margin: 20px 10px 0 10px;
	padding-bottom: 20px;
	background-color: #F2F2F2;
}
.acc-perinfoadd-table tr{
	height: 60px;
}
.acc-perinfoadd-table tr td span{
	margin-right: 20px;
}
.acc-perinfoadd-table input[type="text"]{
	width: 310px;
	height: 38px;
	line-height: 38px;
}
.acc-perinfoadd-table select{
	width: 138px;
	height: 38px;
	line-height: 38px;
	margin-right: 5px;
}
.acc-perinfoadd-table textarea{
	width: 310px;
	height: 82px;
	resize: none;
	margin: 10px 0 10px 0;
}
.acc-perbtn{
	float: left;
	width: 122px;
	height: 30px;
	margin-left: 130px;
	border: 1px solid #BBBBBB;
	background-color: #B0B0B0;	
}
.acc-perdel{
	float: left;
	height: 30px;
	line-height: 43px;
	color: #707070;
	text-decoration: underline;
	margin-left: 20px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB #BBBBBB transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 0px 0px 0px 0px;
}
.acc-edudiv{
	float: left;
	width: 100%;
	height: 490px;
	border-bottom: 1px dashed #BBBBBB;
}
.acc-edutable{
	float: left;
	width: 96%;
	height: auto;
	background-color: #F2F2F2;
	margin: 20px 0 30px 20px;
}
.acc-edutable tr{
	height: 60px;
}
.acc-edutable input[type="text"]{
	width: 310px;
	height: 38px;
	line-height: 38px;
}
.acc-edutable select{
	width: 138px;
	height: 38px;
	line-height: 38px;
}
.acc-edutable textarea{
	width: 310px;
	height: 82px;
	resize: none;
	margin-top: 15px;
}
.acc-edutable .acc-studytime{
	width: 100px;
	height: 38px;
	line-height: 38px;
	margin-right: 5px;
}
.acc-numword{
	float: left;
    margin-left: 250px;
}
.acc-continueadd{
	float: right;
	width: 120px;
	height: 28px;
	margin: 30px 20px 0 0;
	border: 1px solid #BBBBBB;
	background-color: #F2F2F2;
}
/*账户管理子页面--账号安全*/
.acc-safety{
	float: left;
	width: 100%;
	padding: 15px 0 0 10px;
	height: auto;
	border-right: 4px solid #F4F4F4;
}
.acc-safety-title{
	float: left;
	width: 100%;
	height: 30px;
	line-height: 15px;
	font-weight: bold;
	font-size: 15px;
	color: #6A6A6A;
	padding: 10px 0 0 10px;
	background-color: #EEEEEE;
}
.acc-safety-msg{
	float: left;
	width: 100%;
	height: 100px;
	margin-top: 15px;
	border: 2px solid #DFDFDF;
	background-color: #EEEEEE;
}
.acc-safety-basicinfo{
	float: left;
	width: 100%;
	height: 100px;
	margin: 20px 0 20px 0;
}
.acc-safety-basicinfo dl{
	padding-left: 20px;
}
.acc-safety-basicinfo dl dd{
	height: 30px;
	line-height: 30px;
}
.acc-safety-basicinfo a{
	color: #999999;
	margin-left: 10px;
}
.acc-safety-info{
	float: left;
	width: 100%;
	height: auto;
	padding: 0 0 0 10px;
}
.acc-safety-info tr{
	height: 90px;
	border-bottom: 1px solid #EAEAEA;
}
.acc-null-p{
	width: 100%;
	height: 10px;
}
.acc-meg-p{
	border-bottom: 2px solid #E3E3E3;
	padding-bottom: 7px;
	margin-right: 20px;
}
.acc-safety-protect{
	width: 100%;
	height: auto;
}
.acc-safety-protect tr{
	height: 60px;
}
.acc-pro-bottom{
	border-bottom: 1px solid #EBEBEB;
}
/*账户管理子页面--交易账户管理*/
.acc-trading{
	float: left;
	width: 98%;
	margin: 16px 0 0 16px;
	min-height: 830px;
	border: 1px solid #BBBBBB;
}
.acc-tradtitle{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #101010;
	background-color: #B0B0B0;
}
.acc-trad-con1{
	width: 100%;
	height: 242px;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}
.acc-trad-con2{
	width: 100%;
	height: 489px;
	border-top: 1px solid #BBBBBB;
}
.acc-tra-money{
	float: left;
	width: 267px;
	height: 168px;
	margin: 48px 0 0 30px;
	background-color: #F2F2F2;
	border: 1px solid #BBBBBB;
}
.acc-tram-title{
	float: left;
	margin: 10px 0 0 10px;
	width: auto;
	height: auto;
}
.acc-tram-money{
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
}
.acc-tram-money span{
	font-size: 28px;
	color: #101010;
	margin-right: 5px;
	font-weight: bold;
}
.acc-tram-ul{
	float: right;
	width: auto;
	height: 20px;
	margin: 30px 10px 0  0;
}
.acc-tram-ul li{
	float: left;
	height: 20px;
	line-height: 20px;
	margin-left: 15px;
}
.acc-tram-ul li a{
	color: #101010;
	text-decoration: underline;
}
.acc-tra-addBankcard{
	float: left;
	width: 267px;
	height: 168px;
	margin: 48px 0 0 49px;
	background-color: #F7F7F7;
	border: 1px dashed #BBBBBB;
}
.acc-tra-addBankcard p{
	margin-top: 20px;
}
.acc-tra-addicon{
	margin: 65px 0 0 120px;
	cursor: pointer;
}
.acc-trat-ul{
	float: right;
	width: auto;
	height: 40px;
	margin: 0 10px 0  0;
}
.acc-trat-ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
.acc-trat-ul li a{
	color: #101010;
	text-decoration: underline;
}
.acc-tram-detail{
	float: left;
	width: 100%;
	height: 240px;
	border-top:1px solid #BBBBBB ;
}
.acc-tratime-div{
	float: left;
	width: auto;
	height: 50px;
	margin-top: 20px;
}
.acc-tratime-div input{
	width: 167px;
	height: 38px;
	line-height: 38px;
}
.acc-tratime-div span{
	float: left;
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
}
.acc-tratime-ul{
	float: left;
	width: auto;
	height: 50px;
	margin-top: 20px;
	margin-left: -20px;
}
.acc-tratime-ul li{
	float: left;
	width: auto;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
}
.acc-trad-current{
	background-color: #E0E0E0;
}
.acc-trad-select{
	border: 0;
}
.acc-tram-detail>select{
	border: 0;
	margin-top: 27px;
	float: right;
	margin-right: 5px;
}
.acc-trad-income{
	float: left;
	width: 280px;
	height: 100px;
	line-height: 100px;
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 0 80px;
	background-color: #E0E0E0;
}
.acc-trad-goout{
	float: left;
	width: 280px;
	height: 100px;
	line-height: 100px;
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 0 40px;
	background-color: #E0E0E0;
}
.acc-trad-table{
	float: left;
	width: 100%;
	height: auto;
}
.acc-trad-thead tr{
	height:30px;
	line-height:30px;
	border-bottom: 1px solid #BBBBBB;
}
.acc-trad-tbody{
	height: 46px;
	line-height: 46px;
}
.acc-tradborder-b{
		border-bottom: 1px dashed #BBBBBB;
}
.acc-trad-carddiv{
	float: left;
	width: 933px;
	height: 463px;
	margin: 20px 0 0 21px;
	background-color: #F2F2F2;
}
.acc-trad-cardtable{
	float: left;
	width: 100%;
	height: auto;
}
.acc-trad-cardtable tr{
	height: 58px;
}
.acc-trad-input{
	width: 308px;
	height: 38px;
	line-height: 38px;
	margin-left: 20px;
}
.acc-trad-validateinput{
	width: 183px;
	height: 38px;
	line-height: 38px;
	margin-left: 20px;
}
.acc-validate{
	height: 38px;
	color: #FFFFFF;
	margin-left: 10px;
	border: 1px solid #BBBBBB;
	background-color: #808080;
}
.acc-trad-okbtn {
	width: 308px;
	height: 38px;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 20px;
	border: 1px solid #BBBBBB;
	background-color: #636363;
}
.acc-trad-link{
	float: left;
	width: auto;
	height: 50px;
	font-size: 12px;
	margin-left: 20px;
	color: #B0B0B0;
}
.acc-trad-msg{
	position: relative;
	top: 184px;
	left: 305px;
	font-size: 12px;
	color: #B0B0B0;
}
.acc-tradc-div{
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	margin:20px 0 0 60px ;
}
.acc-tradc-div span{
	font-size: 28px;
	font-weight: bold;
	margin-right: 5px;
}
.acc-trad-chongzhi{
	margin-left: 30px;
	color: #101010;
	text-decoration: underline;
}
.acc-tradc-table{
	float: left;
	width: 95%;
	margin:30px 0 0 20px;
}
.acc-tradct-thead tr{
	height: 32px;
	border-top: 1px solid #BBBBBB;
	background-color: #E0E0E0;
}
.acc-tradct-tbody tr{
	height: 50px;
	line-height: 50px;
}
/*账户管理子页面--地址管理*/
.acc-address{
	float: left;
	width: 98%;
	margin: 16px 0 0 16px;
	min-height: 833px;
	border: 1px solid #BBBBBB;
}
.acc-ads-con{
	float: left;
	width: 96%;
	height: auto;
	margin: 20px 0 0 20px;
}
.acc-ads-title{
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin-top: 25px;
	padding-left: 50px;
}
.acc-adst-icon{
	float: left;
	width: 4px;
	height: 25px;
	background-color: #FFAC36;
}
.acc-adst-word{
	float: left;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	margin-left: 8px;
	color:#28282E;
}
.acc-ads-label{
	float: left;
	font-size: 12px;
	font-weight: 100;
	margin-left: 10px;
	color: #101010;
}
.acc-ads-table1{
	float: left;
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.acc-ads-table1 tr{
	height: 42px;
}
.acc-ads-theadtr{
    background-color: #C9C9C9;
}
.acc-ads-tbody span{
	margin-left: 30px;
	cursor: pointer;
}
.acc-ads-ji{
	background-color: #FCFCFC;
}
.acc-ads-ou{
	background-color: #F2F2F2;
}
.acc-ads-selectlink{
	color: #8C8C8C;
	text-decoration: underline;
}
.acc-ads-link{
	color: #101010;
	text-decoration: underline;
}
.acc-ads-table2{
	float: left;
	width: 100%;
	height: auto;
}
.acc-ads-table2 tr{
	height: 55px;
}
.acc-ads-input{
	width: 360px;
	height: 38px;
	line-height: 38px;
	margin-left: 10px;
}
.acc-ads-textarea{
	width: 360px;
	height: 72px;
	line-height: 38px;
	resize: none;
	margin: 10px 0 10px 10px;
}
.acc-ads-savebtn{
	float: left;
	width: 82px;
	height: 36px;
	margin-left: 10px;
	border: 1px solid #BBBBBB;
	background-color: #C7C7C7;
}
.acc-ads-msg {
    font-size: 12px;
    font-weight: 100;
    margin-left: 10px;
    color: #A8A8A8;
}
/*企业账户管理--账号信息*/
.acc-cbasicinfo{
	float: left;
	width: 100%;
	height: auto;
	font-size: 14px;
}
.acc-cbasicinfo tr{
	height: 60px;
}
.acc-cbasicinfo input[type="text"],.acc-cbasicinfo select{
	height: 38px;
	line-height: 38px;
}
.acc-contactname{
	width: 260px;
	margin-right: 10px;
}
.acc-basicinfoinput,.acc-basicinfoselect{
	width: 360px;
	height: 38px;
	line-height: 38px;
}
.acc-cphone1{
	width: 135px;
}
.acc-cphone2{
	width: 220px;
}
.acc-cnum1{
	width: 50px;
}
.acc-cnum2{
	width: 80px;
}
.acc-cnum3{
	width: 203px;
}
.acc-ccominfo{
	float: left;
	width: 100%;
	height: auto;
	font-size: 14px;
}
.acc-ccominfo tr{
	height: 60px;
}
.acc-ccominfo input[type="text"],.acc-ccominfo select{
	width: 360px;
	height: 38px;
	line-height: 38px;
}
.acc-ccominfo textarea{
	width: 360px;
	height: 106px;
	resize: none;
	margin: 10px 0;
}
.acc-comlogo{
	float: left;
	width: 122px;
	height: 122px;
	margin: 10px 0 10px 0;
	background: url(../image/acc-comlogobg.png);
}
.acc-comlogoword{
	float: left;
	width: 200px;
	height: 125px;
	margin:10px 0 0 38px;
}
.acc-updiv{
	float: left;
	height: 30px;
	color: #101010;
	font-weight: bold;
}
.acc-comlogoword p{
	color: #101010;
	font-weight: bold;
}
.acc-upbtn{
	margin-left: 3px;
	width: 53px;
	 -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
	border:1px solid #BBBBBB;
	background-color: #E3E3E3;
}
.acc-upfilebtn{
    width: 55px;
    height: 20px;
    position: relative;
    left: 141px;
    top: -24px;
	filter:alpha(opacity=0);   
    -moz-opacity:0;   
    -khtml-opacity: 0;   
    opacity: 0;
}
.acc-intel{
	margin-top: 40px;
}
.acc-intel tr{
	height: 180px;
}
.acc-inimg{
	width: 186px;
	height: 121px;
	margin-left: 38px;
}
.acc-inword{
	margin-top: 10px;
	width: 186px;
	height: auto;
	margin-left: 38px;
}
.acc-inword span{
	height: 36px;
	line-height: 36px;
}
.acc-inlook{
	float: right;
	width: 76px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	 -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
	border:1px solid #BBBBBB;
	background-color: #E3E3E3;
}
.acc-intbtn{
	width: 100%;
	height: 50px;
	float: left;
	border-bottom: 1px solid #BBBBBB;
}
.acc-intbtn input{
	float: left;
	width: 74px;
	height:34px;
	margin: 4px 0 0 5px;
	background-color: #C7C7C7;
	border: 1px solid #BBBBBB;
	 -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;  
}
.acc-inttitle{
	float: left;
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #BBBBBB;
}
.acc-inttitle input{
	width: 98%;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 18px;
	margin-left: 20px;
	border: 1px solid #FFFFFF;
}
.acc-intcon{
	float: left;
	width: 100%;
	height: auto;
}
.acc-intcon textarea{
	float: left;
	width: 96%;
	min-height: 710px;
	margin-left: 20px;
	resize: none;
	border: 1px solid #FFFFFF;
}

/*企业地址管理*/
.acc-caddress {
    width: 100%;
    padding: 10px 0 10px 10px;
    height: auto;
}

.arrow-r{
	float: right;
	width: 12px;
	height: 21px;
	margin: 26px 20px 0 0;
	background-image: url(../image/arrow-right.png);
}
.arrow-down{
	float: right;
	width: 19px;
	height: 21px;
	margin: 26px 20px 0 0;
	background-image: url(../image/arrow-down.png);
}
.arrow-downleft{
	float: right;
	width: 13px;
	height: 21px;
	margin: 26px 20px 0 0;
	background-image: url(../image/jiantou-D.png);
}
.icon-user{
	float: left;
    width: 35px;
    height: 39px;
    margin: 18px 0 0 20px;
	background-image: url(../image/accinfo_icon.png);
}
.icon-user-select{
	float: left;
    width: 35px;
    height: 39px;
    margin: 18px 0 0 20px;
	background-image: url(../image/accinfo_icon2.png);
}
.icon-safe{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/accsafe_icon.png);
}
.icon-safe-select{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/accsafe_icon2.png);
}
.icon-mana{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/accmana_icon.png);
}
.icon-mana-select{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/accmana_icon2.png);
}
.icon-ads{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/adsmana_icon.png);
}
.icon-ads-select{
	float: left;
	width: 35px;
	height: 39px;
	margin: 18px 0 0 20px;
	background-image: url(../image/adsmana_icon2.png);
}
/*                  */
.icon-basinfo{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/basicInfo_icon.png);
}
/*鼠标移动改变i图标*/
.menu-second li:hover .icon-basinfo{
	background-image: url(../image/jibenxinxiD.png);
}
/*点击改变图标*/
.icon-basinfoed{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/jibenxinxiD.png);
}
.icon-cominfo{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/cominfo_icon.png);
}
/*鼠标移动改变i图标*/
.menu-second li:hover .icon-cominfo{
	background-image: url(../image/qiyexinx-D.png);
}
.icon-cominfoed{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/qiyexinx-D.png);
}
.icon-materinfo{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/mertinfo_icon.png);
}
/*暂无*/
.menu-second li:hover .icon-materinfo{
	background-image: url(../image/wuzhixinxD.png);
}
.icon-materinfoed{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/wuzhixinxD.png);
}
.icon-comintro{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/comintro_icon.png);
}
.menu-second li:hover .icon-comintro{
	background-image: url(../image/qiyejies-D.png);
}
.icon-comintroed{
	float: left;
	width: 28px;
	height: 30px;
	margin: 10px 0 0 50px;
	background-image: url(../image/qiyejies-D.png);
}
/*左侧菜单*/
.sidebar-menu{
	float: left;
    width: 100%;
    height: auto;
    background-color: #32323A;
}
/*一级菜单*/
.menu-first{
	float: left;
	width: 100%;
    height:74px;
    line-height:74px;
    color: #9AA6B0;
    border-top: 1px solid #36363E;
    border-bottom: 1px solid #36363E;
    font-size: 22px;
}
.menu-first span{
	float: left;
	margin-left: 20px;
}
/*一级菜单鼠标划过状态*/
.menu-active{
	color: #D5EEEC;
    text-decoration: none;
    background-color: #1FB5AD;
}
/*.sidebar-menu a:hover{
	background-color: #1FB5AD;
	color: #D5EEEC;
}*/

/*二级菜单*/
.menu-second{
	float: left;
	width: 100%;
	height: auto;
}
.menu-second span{
	float: left;
	margin-left: 20px;
}
.menu-second li a{
    background-color: #2D2D34;
    height:50px;
    line-height:50px;
    color: #9AA6B0;
    font-size: 20px;
    font-weight: normal;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
	color: #1FB5AD;
 /* text-decoration: none;
    background-color: #2D2D34;*/
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2D2D34;
}
/*二级菜单选中状态*/
.menu-second-selected {
    height:50px;
    line-height:50px;
    text-align:center;
    color: #1FB5AD;
}

/*覆盖bootstrap的样式*/
.nav-list,.nav-list li a{
    padding: 0px;
    margin: 0px;
}

/*账号信息--基本信息*/
.acc-basinfodiv{
	float: left;
	width: 80%;
	height: 385px;
	margin: 40px 0 0 30px;
	border: 1px solid #CFCFCF;
	-moz-border-radius: 7px;      /* Gecko browsers */
    -webkit-border-radius: 7px;   /* Webkit browsers */
    border-radius:7px;            /* W3C syntax */
}
.acc-comuserdiv{
	float: left;
	width: 80%;
	height: 385px;
	margin: 20px 0 0 30px;
	border: 1px solid #CFCFCF;
	-moz-border-radius: 7px;      /* Gecko browsers */
    -webkit-border-radius: 7px;   /* Webkit browsers */
    border-radius:7px;            /* W3C syntax */
}
.must{
	font-size: 17px;
	font-weight: bolder;
	color: #FFAC36;
}
 select option{ 
			opacity: 1;
		}
.acc-basinfotb{
	float: left;
	width: 98%;
	font-size: 15px;
	height: auto;
}
.acc-basinfotb select{
	height: 40px;
	width: 252px;
	opacity: 0;
	position: relative;
	left: 0px;
	top: -40px;
}
.acc-basinfotb .select_div{
	height: 28px;
	line-height: 28px;
	padding: 5px;
	width: 240px;
	border: 1px solid #AAAAAA;
}
.acc-basinfotb .icon-down{
	margin:5px;
	width: 16px;
	height: 16px;
	float: right;
	background: url(../image/arrow.gif) no-repeat;
}
.acc-comusertb{
	float: left;
	width: 98%;
	font-size: 15px;
	height: auto;
}
.acc-basinfotb input[type="text"]{
	width: 330px;
	height: 42px;
	line-height: 42px;
	border: 0;
	background-color: #DBDBDB;
}
.acc-comusertb input[type="text"]{
	height: 42px;
	line-height: 42px;
	border: 0;
	background-color: #DBDBDB;
}
.acc-basinfotb tr{
	height: 80px;
	line-height: 80px;
}
.acc-comusertb tr{
	height: 70px;
	line-height: 70px;
}
.acccom-name{
	width: 194px;	
}
.acccom-bumen{
	width: 330px;
	margin-top: 10px;
}
.accinfo-savebtn{
	float: left;
	width: 430px;
	height: 62px;
	line-height: 62px;
	font-size: 30px;
	border: 0;
	color: #FFFFFF;
	margin: 25px 0 0 25px;
	background-color: #FFAC36;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            
}
.acc-zhiwei{
	width: 194px;
	margin-top: 10px;
}
.acc-numselect{
	float: left;
	width: 137px;
	margin-top: 10px;
}
.acc-numinput{
	margin: 10px 0 0 15px;
}
.acc-gdtel1{
	width: 60px;
}
.acc-gdtel2{
	width: 90px;
	margin-left: 20px;
}
.acc-gdtel3{
	width:130px;
	margin-left: 20px;
}
.acc-zjnum{
	width: 330px;
}
/*账号信息--企业信息*/
.acc-cominfodiv{
	float: left;
	width: 80%;
	padding-bottom: 20px;
	margin: 40px 0 0 25px;
	border: 1px solid #CFCFCF;
	-moz-border-radius: 7px;      /* Gecko browsers */
    -webkit-border-radius: 7px;   /* Webkit browsers */
    border-radius:7px;            /* W3C syntax */
}
.acc-uplogo{
	float: left;
	width: 250px;
	height: 68px;
}
.acc-uplogomsg{
	float: left;
	width: 350px;
}
.acccom-upbtn{
	float: right;
	width: 90px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	cursor: pointer;
	margin-right: 0%;
	margin-top: 10px;
	background-color: #FFAC36;
	-moz-border-radius: 3px;      
    -webkit-border-radius: 3px;  
    border-radius:3px; 
}
.acccom-upbtninput{
	position: relative;
	top:-32px;
	left: 99px;
	width: 130px;
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	opacity:0;
}
.acccom-upbtninput:focus{
	 outline:none;
}
.acccomlogo{
	height: 80px;
	line-height: 0;
}
.accom-des{
	float: left;
    height: 50px;
    line-height: 25px;
    color: #AEAEAE;
}
.accom-jyfw{
	width: 330px;
	height: 100px;
	line-height: 20px;
	border: 0;
	background-color: #DBDBDB;
	resize: none;
}
.acccom-dgfw{
	float: left;
	width: 90%;
	margin-left: 42px;
	font-size: 15px;
}

/*地址管理--收货地址*/
.acc-saveadsdiv{
	float: left;
	width: 80%;
	height: auto;
	margin: 40px 0 0 25px;
	padding-bottom: 5px;
	border: 1px solid #CFCFCF;
	-moz-border-radius: 7px;      /* Gecko browsers */
    -webkit-border-radius: 7px;   /* Webkit browsers */
    border-radius:7px;            /* W3C syntax */
}
.acc-saveadstb{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.acc-saveadstb tr{
	height: 55px;
	line-height: 55px;
}
.acc-saveadstb thead{
	color: #FCFCFC;
	font-size: 22px;
	background-color: #7E67C0;
}
.acc-saveadstb td{
	text-align: center;
}
.acc-adsdel{
	width: 75px;
	height: 37px;
	line-height: 37px;
	border: 0;
	color:#FFFFFF;
	background-color: #FFAC36;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;  
}
.acc-ads-tbody{
	color: #8E8C8C;
	font-size: 20px;
}
.acc-addadsdiv{
	float: left;
	width: 80%;
	height:auto;
	margin: 20px 0 0 25px;
	border: 1px solid #CFCFCF;
	-moz-border-radius: 7px;      /* Gecko browsers */
    -webkit-border-radius: 7px;   /* Webkit browsers */
    border-radius:7px;            /* W3C syntax */
}
.acc-addadsdiv table{
	font-size: 16px;
}
.acc-adsinput{
	width: 330px;
}
/*下拉菜单*/
.drop{width:150px;float: left;margin-top: 10px;}
.dropdown p{height:42px; line-height:42px; padding-left:5px; padding-right:15px; background:url(../image/arrow.gif) no-repeat right 5px top 12px; color:#333333; cursor:pointer;background-color: #DBDBDB;}
.dropul{width: 150px; margin-top:-13px; border:1px solid #DFDFDF; position:absolute; display:none;height: auto;max-height: 120px;overflow: auto;background-color: #FFFFFF;}
.dropdown ul li{height:30px; line-height:30px;margin-left: -40px;}
.dropdown ul li a{display:block; height:30px; color:#807a62;text-decoration:none;float: left;padding-left: 5px;}
.dropdown ul li:hover{background:#1E90FF;}
/*所属部门ul*/
.dropul_bumen{width:330px;z-index: 1;margin-top:-13px; border:1px solid #DFDFDF; position:absolute; display:none;height: auto;max-height: 120px;overflow: auto;background-color: #FFFFFF;}
/*职位ul*/
.dropul_zhiwei{width:194px;margin-top:-13px; border:1px solid #DFDFDF; position:absolute; display:none;height: auto;max-height: 120px;overflow: auto;background-color: #FFFFFF;}
/*手机号*/
.dropul_numselect{width:137px;margin-top:-13px;z-index: 1; border:1px solid #DFDFDF; position:absolute; display:none;height: auto;max-height: 120px;overflow: auto;background-color: #FFFFFF;}
