@import url(bootstrap.min.css);
@import url(common.css);
body{
	min-width: 980px;
}
.login-logo{
	width:201px;
	height:63px;
	float: left;
	margin: 25px 20px 0 0;
}
.login-title{
	font-weight: bold;
	font-size: 26px;
	color: #696969;
	height: 103px;
	line-height: 115px;
}
.login-main{
	width: 980px;
	height: auto;
	margin: 0 auto;
}
.login-container{
	width: :100%;
	height: 480px;
	background-image:url(../image/login_bg.png);
	background-position: center 0; 
	background-repeat: no-repeat; 
	background-size: cover; 
	-webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
	-o-background-size: cover;/* 兼容Opera */ 
	zoom: 1; 
}
.login-map{
	height:477px;
}
.login-box{
	float: right;
	width:348px;
	min-height:360px;
	border: 1px solid #FED65A;
	background-color: #FFFFFF;
	margin: 60px 0 0 0;
	overflow: hidden;
}
.login-top{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color:#939393;
    border-bottom: 1px solid #DFDFDF;
}
.login-left{
	float: left;
	width: 50%;
	text-align: center;
	height: 60px;
	cursor: pointer;
}
.login-right{
	float: left;
	width: 50%;
	text-align: center;
	height: 60px;
	cursor: pointer;
}
.login-current{
	position: relative;
	z-index: 101;
	color: #353535;
	border-bottom: 2px solid #b70707;
}
.login-content>div{
	width: auto;
    height: 255px;
    margin: 0 20px 0 20px;
}
.login-con-r>p{
	float: left;
	height: 20px;
	width: 100%;
}
.login-msg-icon{
	float: left;
	margin-top: 7px;
	margin-right: 5px;
}
.login-valmsg{
	float: left;
	width: 100%;
	height: 26px;
	color: #E4393C;
	margin: 11px 0;
	background-color: #FFEBEB;
	border: 1px solid #E4393C;
	visibility: hidden;
}
.login-valmsg img{
	float: left;
	margin: 5px 10px;
}
.login-msg{
	float: left;
	height: 26px;
	line-height: 26px;
}
.loign-username{
	float: left;
	width: 306px;
	height:41px;
	line-height:41px;
	border: 1px solid #CFCFCF;
}
.login-usericon{
	float: left;
	width: 40px;
	height: 39px;
}
/*用户名文本框不同状态的样式*/
.login-uiconnor{
	border-right: 1px solid #CFCFCF;
	background-image: url(../image/icon_user.png);
	background-color: #F4F4F4;
}
.login-uiconjj{
	border-right: 1px solid #7FAED3;
	background-image: url(../image/icon_user2.png);
	background-color: #EBF2F8;
}
.login-uiconerror{
	border-right: 1px solid #E4393C;
	background-image: url(../image/icon_user3.png);
	background-color: #FCEBEB;
}
.loign-username input,.loign-password input{
	float: left;
    width: 235px;
    height: 37px;
    line-height: 37px;
    margin-left: 5px;
    border: 1px solid #FFFFFF;
}
.loign-password{
	float: left;
	margin-top: 20px;
	width: 306px;
	height:40px;
	line-height:40px;
	border: 1px solid #CFCFCF;
}
.login-pwdicon{
	float: left;
	width: 40px;
	height: 38px;
}
/*密码文本框不同状态的样式*/
.login-piconnor{
	border-right: 1px solid #CFCFCF;
	background-image: url(../image/icon_password.png);
	background-color: #F4F4F4;
}
.login-piconjj{
	border-right: 1px solid #B2CEE4;
	background-image: url(../image/icon_password2.png);
	background-color: #F4F4F4;
}
.login-piconerror{
	border-right: 1px solid #E4393C;
	background-image: url(../image/icon_password3.png);
	background-color: #F4F4F4;
}
.login-userdel{
	position: relative;
	left: 0px;
	top: 10px;
}
.login-pwddel{
	position: relative;
	left: 0px;
	top: 10px;
}
.login-link{
	float: left;
	margin-top: 25px;
	height: 20px;
	line-height: 20px;
	width: 100%;
}
.login-link ul{
	float: left;
	color:#828282;
	font-size: 12px;
	margin-left: -40px;
}
.login-link ul div{
	margin-right: 20px;
}
.login-link ul li{
	float: left;
}
.login-link ul li a{
	color:#828282;	
}
.login-link .login-forget{
	margin-left: 28px;;
}
.login-link-right-line{
	padding: 0 10px 0 10px;
	border-right: 1px solid #707070;
}
.no-ckbox{
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(../image/checkbox_no.png);
}
.ok-ckbox{
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(../image/checkbox_ok.png);
}
.login-valdiv{
	float: left;
	width: 100%;
	height: 32px;
	margin-top: 20px;
}
.login-valinput{
	float: left;
	width: 82px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CFCFCF;
}
.login-valspan{
	float: left;
	width: 82px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #645877;
	margin: 1px 5px;
	background-color: #EDF7FF;
}
.login-vallink{
	text-decoration: underline;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	margin-left: 5px;
}
.login-btn{
	float: left;
	margin-top:15px;
	width: 308px;
	height: 40px;
	line-height: 40px;
	background-image: url(../image/login-btn.png);
}
.login-btn:hover{
	background-image: url(../image/logn-btnactive.png);
}
.login-btn span{
	float: left;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
}
.login-con-l .login-twocode{
	width: 162px;
	height: auto;
	margin: 40px auto;
}
.login-twocode>div{
	margin-top: 10px;
}
.login-twocode>div p{
	font-size: 14px;
	text-align: center;
}
.login-twocode>div span{
	float: left;
	width: 100%;
	color: #9D9D9D;
	text-align: center;
}
.login-footer{
	width:600px;
	height: auto;
	margin:0 auto;
	font-size: 12px;
}
.login-footer p{
	color: #828282;
	text-align: center;
}
.login-footer-ul{
	float: left;
	width:100%;
	margin-left: -15px;
}
.login-footer-ul li{
	margin-top: 5px;
	float:left;
	height: 12px;
	line-height: 12px;
}
.login-footer-ul li a{
	color: #828282;
}
.login-right-line{
	padding: 0 20px 0 20px;
	border-right: 1px solid #828282;
}
.login-register{
	float: right;
	font-size: 12px;
	color: #B70707;
	margin: 18px 0 15px 0;
}
.login-register:hover{
	color: #B70707;
}
.login-entericon{
	float: right;
	margin-top: 16px;
}
.login-feedback{
	float: right;
	font-size: 12px;
	margin: 10px 0 0 0;	
}
.login-feedback a{
	color: #707070;
}
.loign-username span{
	float: left;
	width: 18px;
	height: 18px;
	background: url(../image/login-del.png);
}
.loign-password span{
	float: left;
	width: 18px;
	height: 18px;
	background: url(../image/login-del.png);
}
