@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
img{ border:0;}
#ztbox {height:100px; }
#ztbox #left { width:45px; height:45px; float:left; cursor:pointer;background:url(../images/banner_next.jpg) no-repeat; margin-top:18px;margin-left: 21px;}
#ztbox #right{ width:45px; height:45px; float:left; cursor:pointer;background:url(../images/banner_pre.jpg) no-repeat;  margin-top:18px;}

#ztbox #conter { width:90%; height:102px; float:left; display:inline; overflow:hidden; position:relative; margin:0px 10px;}
#ztbox #conter ul { width:220%; height:102px; top:0px; left:0px; position:absolute; overflow:hidden;}
#ztbox #conter li { width:167px; height:100px; float:left;padding:0px 5px; position:relative;}
#ztbox #conter li img { width:167px; height:100px;}
#ztbox #scroll { width:880px; height:18px; left:0px; bottom:8px; cursor:pointer; position:absolute; background:url(../images/banner_bg2.jpg) repeat-x left center; }
#ztbox #scroll span { width:48px; height:18px; left:0px; bottom:0px; cursor:pointer; position:absolute; background:#FFEA00; }